nav {
  height: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  color: #6a6a6a;
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;
}

.navbar-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  overflow-x: auto;
  max-width: 1200px;
  gap: 10px;
  padding: 0 20px;
}

.navbar-item-category {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-right:40px;
}

.navbar-item-category:hover {
  background-color:  #c2c2c2;
  color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 0.5;
}

.selected {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.selected:hover {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .navbar-item-category{
    margin-left:0px
  }
}
